* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #ebe7e7;
  width: 100%;
}

.container {
  text-align: center;
  padding: 32px;
  background: #e0dddd;
  font-style: bold;
}

@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
}
