* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #EBE7E7;
  heigth: 100%;
  width: 100%;
}

.header {
  text-align: center;
  padding: 32px;
  background: #E0DDDD;
}

@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
}
